body
{
    background-color:black;
    color :#f90077;
}
.pd
{
    width : 52% ;
    height:400px;
    float : left ;
}
.ed
{
    width : 46% ;
    float : left ;
    height:400px;
}
.main
{
    background-color :#f90077;
    color: black;
}
.t1
{
    background-color: antiquewhite;
}
tr
{
    border: 2px solid #f90077;
    font-size: larger;
}
th
{
    border: 2px solid black;
    border-color: #f90077;
}
td
{
    border: 2px solid black;
    border-color: black;
}
.line{
    border-left: 1px solid #f90077;
    height:400px;
    width:2%;
    margin-top: 30px;
    float:left;
}
.image{
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    height:100px;
    width :200px;
    background-color: #ff1e89;
    display:inline-block;
}
.image2{
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height:100px;
    width :200px;
    background-color: #ff57a7;
    display:inline-block;
    
}
.gen{
    float:50%;
    height: 2px;
    width:500px;
    color: #ff007a;
    margin:500px 10px 100px 100px;
}
.card{
    border-radius: 10px;
    height:200px;
    width :200px;
    background-color:#f90077;
    display:inline-block;
    margin:50px;
    color: black;
}
.card:hover{
    box-shadow:0 0 50px #E90074;
    transition: 0.5s;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.incard{
    padding: 10px;
}
.btn{
    background-color: black;
    color :#f90077;
}
