.main
{
    background-color :purple;
    color: antiquewhite;
}
table
{
    border: 2px solid black;
}
tr
{
    border: 2px solid black;
    font-size: large;
}
th
{
    border: 2px solid black;
    border-color: purple;
}